.activity-section {
    width: 100%;
    background-color: rgba(107, 48, 190, 0.7);
    height: 400px;
    display: flex;
    align-items: center;
}

.fun-container {
    /* border: 5px solid black; */
    margin-top: 8rem;
}
