.parent-org {
    /* border: 5px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

.organizer-logo {
    position: relative;
    flex-basis: 22%;
    /* width: 100px; */
    /* height: 100px; */
    padding: 1rem;
    /* margin: auto; */
    background-color: #fff;
    cursor: pointer;
    /* border: 10px solid red; */
    margin-top: 1rem;
}

.organizer-logo::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #cfcfcf;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.organizer-logo:hover::before {
    opacity: 1;
}

.organizer-logo-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
