.search-section {
    background-color: #1a1a1a;
    color: #fff;
    padding: 2.4rem;
}

.container {
    width: 80%;
    max-width: 1000px;
    padding: 1rem;
    padding-top: 2rem;
}

@media only screen and (max-width: 600px) {
}
