.search-section {
    background-color: #1a1a1a;
    color: #fff;
    padding: 2.4rem;
}

.container {
    width: 80%;
    max-width: 1000px;
    padding: 1rem;
    padding-top: 2rem;
}

p {
    font-size: 0.8rem;
    color: #b2b2b2;
    padding: 0.7rem 0;
}

@media only screen and (max-width: 600px) {
}
